---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Tawk from "../components/Tawk.astro";
import Analytics from "../components/Analytics.astro";
const {
  current,
  animateHeader,
  withBorder,
  withIntercom,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Analytics />
    <BaseHead title={title} description={description} />
  </head>

  <body id="top" class="ss-preload">
    <Header current={current} animateHeader={animateHeader} />

    <slot />

    <Footer withBorder={withBorder} />
    {withIntercom && <Tawk />}
  </body>
</html>
